@font-face {
    font-family: "Casandra";
    src: url("/fonts/cassandra.ttf");
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDujMR6WR.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuHMR6WR.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDunMR6WR.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDubMR6WR.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDurMR6WR.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuvMR6WR.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(http://fonts.gstatic.com/s/opensanscondensed/v12/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMRw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
    box-sizing: border-box;
    color: inherit;
    background-repeat: no-repeat;
}

html {
    height: 100%;
}

body {
    background: rgb(135, 224, 253); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(135, 224, 253, 1) 0%, rgba(83, 203, 241, 1) 40%, rgba(121, 224, 191, 1) 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%, rgba(83, 203, 241, 1) 40%, rgba(121, 224, 191, 1) 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(135, 224, 253, 1) 0%, rgba(83, 203, 241, 1) 40%, rgba(121, 224, 191, 1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#79e0bf', GradientType=0); /* IE6-9 */
    overflow: hidden;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.centered-form {
    padding: 20px 20px 35px;
}

.form-padding {
    padding: 0 20px;
}

.ico {
    background-size: cover;
    display: inline-block;
}

.ico-book {
    background-image: url("/img/icons/book.svg");
}

.ico-setting {
    background-image: url("/img/icons/settings.svg");
}

.ico-notes {
    background-image: url("/img/icons/note.svg");
}

.ico-chat {
    background-image: url("/img/icons/chat.svg");
}

.ico-bell {
    background-image: url("/img/icons/bell.svg");
}

.ico-news {
    background-image: url("/img/icons/news.svg");
}

.ico-stat {
    background-image: url("/img/icons/stat.svg");
}

.ico-exit {
    background-image: url("/img/icons/exit.svg");
}

.ico-add {
    background-image: url("/img/icons/plus.svg");
}

.ico-search {
    background-image: url("/img/icons/search.svg");
}

.ico-down {
    background-image: url("/img/icons/down.svg");
}

.ico-shrink {
    background-image: url("/img/icons/shrink.svg");
}

.ico-enlarge {
    background-image: url("/img/icons/enlarge.svg");
}

.ico-angular {
    background-image: url("/img/icons/angular_sm.svg");
}

.ico-js {
    background-image: url("/img/icons/js_icon.svg");
}

.ico-code-editor {
    background-image: url("/img/icons/code-editor.svg");
}

.ico-vs {
    background-image: url("/img/icons/visual_studio.svg");
}

.ico-vscode {
    background-image: url("/img/icons/vs_code.svg");
}

.ico-sublime {
    background-image: url("/img/icons/sublime.svg");
}

.ico-close {
    background-image: url("/img/icons/close.svg");
}

.ico-play {
    background-image: url("/img/icons/play.svg");
}

.ico-owl {
    background-image: url("/img/icons/owl.svg");;
}



